.text-blue {
  color: #2f6ce5;
}

.container {
  max-width: 1260px;
  padding: 0px 10px;
  margin: auto;
}

.close_button {
  cursor: pointer;
}

.btn-blue {
  background: #2f6ce5;
  color: #fff;
}

.cursor-pinter:hover {
  cursor: pointer;
}

textarea.post-form::placeholder {
  color: rgb(141, 141, 141);
  font-size: 18px;
  font-weight: 600;
}

.post-form {
  outline: none;
  font-size: 18px;
}

.eye-button {
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.container-two {
  width: 1024px;
}

.custom-border:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  background: black;
}

.w-5 {
  width: 50px;
}

.w-10 {
  width: 100px;
}

.text-sm {
  font-size: 13px;
}

.text-xs {
  font-size: 12px;
}

.text-lg {
  font-size: 22px;
}

.text-md {
  font-size: 18px;
}

.text-base {
  font-size: 16px;
}

.text-green {
  color: #02b875;
}

.icon-size {
  font-size: 16px;
}

.navbar {
  height: 85px;
}

.search-input:focus {
  outline: 0;
}

.location-icon {
  bottom: 9px;
}

.mobile-post {
  height: 55px;
  width: 55px;
  border-radius: 100%;
  background: linear-gradient(45deg, #ff5c5c, #f0568a);
  color: white;
  bottom: 5%;
  left: 81%;
}

@media only screen and (max-width: 1920px) {
  .custom-border:before {
    bottom: 98px;
  }
}

@media only screen and (max-width: 1440px) {
  .custom-border:before {
    bottom: 42px;
  }
}

@media only screen and (max-width: 1024px) {
  .custom-border:before {
    bottom: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 90%;
  }
  .container-two {
    width: 100%;
  }

  .text-md {
    font-size: 13px;
  }

  .text-lg {
    font-size: 16px;
  }

  .text-base {
    font-size: 14px;
  }

  .icon-size {
    font-size: 18px;
  }

  .custom-border:before {
    width: 0px;
    height: 0px;
  }
}
@media only screen and (max-width: 560px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 97%;
  }

  .ReactModal__Content.ReactModal__Content--after-open {
    padding: 20px !important;
  }
}
