.text-blue {
  color: #2f6ce5;
}

.container {
  max-width: 1260px;
  padding: 0px 10px;
  margin: auto;
}

.close_button {
  cursor: pointer;
}

.btn-blue {
  background: #2f6ce5;
  color: #fff;
}

.cursor-pinter:hover {
  cursor: pointer;
}

textarea.post-form::placeholder {
  color: rgb(141, 141, 141);
  font-size: 18px;
  font-weight: 600;
}

.post-form{
  outline: none;
  font-size: 18px;
}

.eye-button {
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 90%;
  }
}
@media only screen and (max-width: 560px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 100%;
  }
}
